{% extends "layout.html" %}

{% block content %}

    <div id="banner">
        <h1 class="title">Hello From <b>ArvanCloud</b></h1>
        <div class="subtitle">This is a sample <b>PHP</b> application deployed to <b>ArvanCloud</b>.</div>
        <div>
            <a href="https://github.com/arvancloud/paas-php-sample" target="_blank" class="btn primary">Source Code</a>
        </div>
    </div>

{% endblock %}
